<main class="page__main">
    <h1>Buscador de series Anime</h1>

    <form class="form">
        <input class="js_inputSearch" type="text" placeholder="Naruto" />
        <button class="js_btnSearch" type="button">Buscar</button>
        <input class="js_btnReset" type="reset" value="Reset">
    </form>
    <div class="resultsContainer">

        <section class="js_resultSeriesFav"></section>
        <section class="js_resultSearchSeries"></section>
    </div>
































</main>