// fonts
$fontBody: 'Courier New', Courier, monospace;

// colors

$colorTitle:white;
$colorImputSearch:#fef3e8;
$selectCardHover:hotpink;
$bGcolorInput:#fef3e8;
$boxSadow: rgba(80, 57, 214, 0.3);
$hoverResetFav: rgb(228, 120, 32);
$hoverBtnSearch: rgb(90, 163, 102);
$hoverBtnSearchRemove: rgb(180, 8, 40);
$bCcardResult:#92bfc3;