.page__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 2.5em;

    &--img{
        height: 100px;

        @media all and (min-width: 768px) {
            height: 200px;
        }
    }
    &--title{
        color: white;
        margin:40px 20px;
        text-align: center;
        font-size: 40px;
        flex-wrap: wrap;

        @media all and (min-width: 768px) {
            font-size: 50px;
        }
    }

    @media all and (min-width: 768px) {
        padding: 38px;
    }

}