.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__inputSearch{
        width: 100%;
        font-size: 18px;
        font-weight: 900;
        height: 50px;
        padding: 20px;
        margin: 30px 30px 20px 30px;
        outline: none;    
        background-color: $colorImputSearch;
        text-decoration: none;
        border: none;
        border-radius: 20px;
        /* border-right: 2px solid #f5b436; */
        transition: all ease 0.4s;
        box-shadow: $boxSadow;
        &:hover{
            background-color:$selectCardHover;
            color: white;
            transform: translate(-1px, -1px);
            cursor: pointer;
            font-family: 'Courier New', Courier, monospace;
        }
        
        @media all and (min-width: 768px) {
            width: 30%;
        }
    }
    &__buttonSearch , &__resetSearch {
        font-family: $fontBody;
        color: #38373a;
        font-weight: 600;
        padding: 12px;
        margin-top: 10px;
        margin-bottom: 22px;
        height: 40px;
        border: none;
        border-radius: 15px;
        text-transform: uppercase;
        background-color: $bGcolorInput;
        transition: all ease 0.4s;
        box-shadow: $boxSadow;
        cursor: pointer;
        &:hover{
            background-color:$hoverResetFav;
            color: white;
            transform: translate(-1px, -1px);
            cursor: pointer;
        }

        @media all and (min-width: 768px) {
            margin: 0px 10px;
            font-weight: 800;
        }
    }
    
    &__buttonSearch:hover ,  &__resetSearch:hover{
        background-color: $hoverBtnSearch;
        color: white;
        transform: translate(-1px, -1px);
        cursor: pointer;
    }
    &__resetSearch{
        margin-left: 0px;
        &:hover{
            background-color: $hoverBtnSearchRemove;
        }
    } 

    @media all and (min-width: 768px) {
        display: block;
    }
}